.on {
  background-color: #4caf50;
  color: white;
}
.focused {
  outline: 2px solid #252525;
}

input[type="number"] {
  /* -webkit-appearance:inherit; */
  width: 50px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

input[type="checkbox"] {
  /* -webkit-appearance:inherit; */
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

/* 1. Reset the ugly default outline globally */
*:focus {
  outline: none;
}

/* 2. Apply a clean, custom outline ONLY when tabbing */
button:focus-visible,
a:focus-visible,
input:focus-visible {
  border-radius: 4px;
  /* outline: 2px dashed ; */
  outline-offset: 2px;
}

#AppBar {
  /* border-radius: 0 0 40px 40px; */
  border-radius: 0;
  /* background-color: chocolate; */
}
#optionsHeader {
  background-color: rgb(255, 247, 237);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.capitalized {
  text-transform: capitalize;
}
